# Cvičení 3 - Česká jména

Nejdříve ze všeho - naimportování knihovny pandas a načtení dat

In [1]:
import pandas as pd

jmena = pd.read_csv(r'C:\Users\Lenovo\OneDrive\Dokumenty\CZECHITAS-LAPTOP-BTGJD9J5\Python pro datovou analýzu\jmena.csv')

jmena

        jméno  četnost  věk pohlaví      původ
0        Jiří   296090   49       m      řecký
1         Jan   293938   40       m  hebrejský
2        Petr   272135   42       m      řecký
3        Jana   264944   50       ž  hebrejský
4       Marie   260526   65       ž  hebrejský
..        ...      ...  ...     ...        ...
95   Jindřich    26230   51       m    německý
96  Vlastimil    26014   54       m  slovanský
97        Iva    26003   46       ž  slovanský
98      Miloš    25509   53       m  slovanský
99     Zdenka    25416   68       ž  slovanský

[100 rows x 5 columns]

1. Vypiš všechny řádky se jmény, jejichž nositelé mají průměrný věk vyšší než 60.

In [ ]:
starsi_60_let = jmena[jmena['věk'] > 60]

starsi_60_let

2. Vypiš pouze jména z těch řádků, kde četnost je mezi 80 000 a 100 000.

In [ ]:
cetnost_80_100_tisic = jmena[(jmena['četnost'] >= 80_000) & (jmena['četnost'] <= 100_000)]

cetnost_80_100_tisic

3. Vypiš jména a četnost pro jména se slovanským nebo hebrejským původem.

In [ ]:
# standardní cesta

heb_slov_puvod = jmena[(jmena['původ'] == 'hebrejský') | (jmena['původ'] == 'slovanský')]

heb_slov_puvod

# rychlejší cesta - metodou .isin()

heb_slov_puvod = jmena[jmena['původ'].isin(['hebrejský', 'slovanský'])]

heb_slov_puvod

Kolik takových jmen je?

In [ ]:
# metodou shape(), nultá pozice - počet řádků

pocet_heb_slov = heb_slov_puvod.shape[0]

pocet_heb_slov

# metoda info() - základní informace o Data Framu

pocet_heb_slov = heb_slov_puvod.info()