# Cvičení 4 - Dvě kritéria

Nejdříve ze všeho - naimportování knihovny pandas a načtení dat

In [2]:
import pandas as pd

potraviny = pd.read_csv(r'C:\Users\Daniel Rabiencný\OneDrive\Dokumenty\CZECHITAS-LAPTOP-BTGJD9J5\Python pro datovou analýzu\food_nutrient.csv')

Připravujeme seznam potravin pro účely lékařského výzkumu, který se bude zabývat kardiovaskulárním systémem. Chceme vybrat potraviny, které splňují dvě kritéria:

* nízký obsah nasycených mastných kyselin ("Fatty acids, total saturated", uvažuj méně než 1 gram),
* vysoký obsah vlákniny ("Fiber, total dietary", uvažuj více než 5 gramů).

Zatímco nasycené mastné kyseliny jsou považovány za spíše škodlivé pro kardiovaskulární systém, vláknina je považována spíše za prospěšnou.

---

K řešení bych zde spíš přistupoval iterativně, než se snažit napsat složenou podmínku najednou - mohou nás po cestě potkat faktory, které bude třeba podchytit (např. omezujeme gramáž, tudíž unit_name musíme také omezit na 'G'

V první řadě si ověříme hypotézu zmíněnou výše - existuje v tabulce záznam, kde by hodnota nasycených mastných kyselin byla v miligramech?

In [3]:
hodnota_kyselin_mg = potraviny[(potraviny['name'] == 'Fatty acids, total saturated') & (potraviny['unit_name'] == 'MG')]

hodnota_kyselin_mg

Empty DataFrame
Columns: [fdc_id, nutrient_id, amount, data_points, derivation_id, min, max, median, loq, footnote, min_year_acquired, name, unit_name]
Index: []

Výsledkem je prázdná tabulka - takový záznam tedy neexistuje a můžeme vytvořit první podmínku

In [4]:
potraviny[(potraviny['name'] == 'Fatty acids, total saturated') & (potraviny['amount'] < 1)]

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
43596,1107191,1258,0.4,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
43600,1107950,1258,0.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
43601,1108007,1258,0.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
43602,1108158,1258,0.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
43603,1108349,1258,0.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51839,2661380,1258,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
51840,2661515,1258,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
51841,2661730,1258,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
51842,2661782,1258,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
51844,2662182,1258,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G

Druhá podmínka - opět bych ověřil, zda máme hodnoty i v miligramech

In [5]:
potraviny[(potraviny['name'] == 'Fiber, total dietary') & (potraviny['unit_name'] == "MG")]

Empty DataFrame
Columns: [fdc_id, nutrient_id, amount, data_points, derivation_id, min, max, median, loq, footnote, min_year_acquired, name, unit_name]
Index: []

Opět prázdná tabulka - jdeme vytvořit druhou podmínku

In [6]:
potraviny[(potraviny['name'] == 'Fiber, total dietary') & (potraviny['amount'] > 5)]

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
83630,1107295,1079,6.7,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83635,1108349,1079,8.8,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83638,1109116,1079,7.1,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83639,1109336,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83642,1109434,1079,7.1,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91599,2654695,1079,11.8,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91608,2655929,1079,7.5,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91609,2656307,1079,9.4,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91623,2659199,1079,5.4,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91629,2660613,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G

Nyní spojíme obě podmínky dohromady a vybereme prospěšné potraviny - pozor na závorky a správnou logickou operaci!

In [7]:
prospesne_potraviny = potraviny[((potraviny['name'] == 'Fatty acids, total saturated') & (potraviny['amount'] < 1)) | ((potraviny['name'] == 'Fiber, total dietary') & (potraviny['amount'] > 5))]

prospesne_potraviny

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
43596,1107191,1258,0.4,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
43600,1107950,1258,0.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
43601,1108007,1258,0.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
43602,1108158,1258,0.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
43603,1108349,1258,0.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91599,2654695,1079,11.8,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91608,2655929,1079,7.5,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91609,2656307,1079,9.4,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91623,2659199,1079,5.4,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91629,2660613,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G