# Cvičení 1 - Vláknina

Nejdříve ze všeho - naimportování knihovny pandas

In [1]:
import pandas as pd

Prvotní nahlédnutí do dat

In [3]:
# Načtení tabulky food_nutrient do formátu Data Frame

potraviny = pd.read_csv(r"C:\Users\Lenovo\OneDrive\Dokumenty\CZECHITAS-LAPTOP-BTGJD9J5\Python pro datovou analýzu\food_nutrient.csv")

# Zobrazení vrchních 5 hodnot

potraviny.head()

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
0,1106032,1257,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
1,1107191,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
2,1107295,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
3,1107475,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
4,1107528,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G

:

Podminěný výběr - Vyhledání v tabulce food_nutrient potravin, které obsahují alespoň 10 gramů vlákniny. Využití operátoru &, napsání v rámci jednoho příkazu

In [ ]:
vlaknina = potraviny[(potraviny['name'] == 'Fiber, total dietary') & (potraviny['amount'] >= 10)]

vlaknina