# Cvičení 1 - Půlmaraton (alternativní řešení přes funkci pivot())

In [1]:
import pandas as pd

data = pd.read_csv("half_marathon.csv")
data.head()

            Jmeno  Rocnik       Cas  Rok zavodu
0  Aster Vladimír    1965  01:53:25        2019
1  Aster Vladimír    1965  02:00:19        2020
2   Asterová Jana    1974  02:16:59        2019
3   Asterová Jana    1974  02:30:01        2020
4   Baborová Anna    1990  01:58:20        2019

In [6]:
data_pivot = data.pivot(values="Cas", columns=["Rok zavodu"], index=["Jmeno", "Rocnik"])
data_pivot["difference"] = data_pivot[2020] - data_pivot[2019]
data_pivot["difference"].mean()

data_pivot

,Rok zavodu,2019,2020,difference
Jmeno,Rocnik,,,
Aster Vladimír,1965,2024-03-07 01:53:25,2024-03-07 02:00:19,0 days 00:06:54
Asterová Jana,1974,2024-03-07 02:16:59,2024-03-07 02:30:01,0 days 00:13:02
Baborová Anna,1990,2024-03-07 01:58:20,2024-03-07 01:52:25,-1 days +23:54:05
Bambas Jan,1975,2024-03-07 02:02:59,2024-03-07 02:35:39,0 days 00:32:40
Barochovská Andrea,1976,2024-03-07 03:01:25,2024-03-07 02:50:05,-1 days +23:48:40
...,...,...,...,...
Šulcová Jitka,1974,2024-03-07 01:43:12,2024-03-07 01:59:07,0 days 00:15:55
Švarcová Petra,1974,2024-03-07 02:27:45,2024-03-07 02:50:01,0 days 00:22:16
Švelch Rosťa,1966,2024-03-07 01:54:58,2024-03-07 01:55:11,0 days 00:00:13
Žitková Jana,1974,2024-03-07 02:45:54,2024-03-07 02:42:48,-1 days +23:56:54
Žákovec Pavel,1966,2024-03-07 02:03:36,2024-03-07 02:07:37,0 days 00:04:01