# Cvičení 2 - Titanic a další pivot tabulky

In [2]:
import pandas as pd

data = pd.read_csv(r"C:\Users\Lenovo\OneDrive\Dokumenty\CZECHITAS-LAPTOP-BTGJD9J5\Python pro datovou analýzu\Lekce_1\titanic.csv")
data_pivot = pd.crosstab(data["Pclass"], data["Survived"], margins=True)
data_pivot

Survived    0    1  All
Pclass
1          80  136  216
2          97   87  184
3         372  119  491
All       549  342  891

In [2]:
data = pd.read_csv("titanic.csv")
data_pivot = pd.crosstab(data["Pclass"], data["Survived"], normalize="index")
data_pivot

Survived         0         1
Pclass
1         0.370370  0.629630
2         0.527174  0.472826
3         0.757637  0.242363

In [3]:
data_pivot = pd.crosstab(data["Sex"], data["Survived"])
data_pivot

Survived    0    1
Sex
female     81  233
male      468  109

relativní rozpad definuji skrze parametr normalize

In [4]:
data_pivot = pd.crosstab(data["Sex"], data["Survived"], normalize="index")
data_pivot

Survived         0         1
Sex
female    0.257962  0.742038
male      0.811092  0.188908